<!DOCTYPE html>
<html lang="uk">
<head>
    {% load i18n %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="wrapper">
{% block content %}{% endblock %}
<footer class="footer-container">
    {% block down %}{% endblock %}
    {% trans 'Glory to Ukraine!' %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" class="custom-button button-switch-language" value="{% trans 'Switch language' %}">
    </form>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
        integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
<script id="create-project" src="{% static 'js/create-project.js' %}">
</script>
<script id="edit-project" src="{% static 'js/edit-project.js' %}">
</script>
<script id="delete-project" src="{% static 'js/delete-project.js' %}">
</script>
<script id="create-note" src="{% static 'js/create-note.js' %}">
</script>
<script id="delete-note" src="{% static 'js/delete-note.js' %}">
</script>
<script id="js-translation" src="{% static 'js/translation.js' %}">
</script>
<script id="project-user-add" src="{% static 'js/add-user-to-project.js' %}">
</script>
<script id="project-user-delete" src="{% static 'js/delete-user-from-project.js' %}">
</script>
<script id="list-swap" src="{% static 'js/list-swap.js' %}">
</script>
<script type="text/javascript" id="draw-chart" src="{% static 'js/draw-chart.js' %}">
</script>

{% include 'popups.html' %}
</body>

</html>