{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Self Help Project' %} {% endblock %}

{% block content %}
    <div class="body-container-column">
        <h1>{% trans 'Welcome to the Self Help Project!' %}</h1>
        <h3>{% trans 'It will help you with self development' %}</h3>
        <p>{% trans 'Please register if you want to continue.' %} {% trans ' Or sign in if you have an account' %}</p>
        <a href="{% url 'sign_up' %}" class="custom-button button-sign-up">{% trans 'Sign up' %}</a>
        <a href="{% url 'sign_in' %}" class="custom-button button-sign-in">{% trans 'Sign in' %}</a>
    </div>
{% endblock %}

{% block down %}{% endblock %}