{% load i18n %}
<script>
    $(function () {
        $("#button_create_project_click").on("click", function (e) {
            e.preventDefault();
            $("#click_create_project_modal").dialog({
                    modal: true,
                    height: "auto",
                    width: "30vw",
                    title: "{% trans 'New project creation' %}",
                    buttons: {
                        "{% trans 'Create project' %}": createProject, //Be careful here!
                        "{% trans 'Cancel' %}": function () {
                            $(this).dialog("close");
                        }
                    }
                }
            )
        });
    });

    function createProject() {
        $.ajax({
            type: 'POST',
            url: "{% url 'new_project_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                project_title: $('#id_project_title').val(),
            },
            success: function (data) {
                if (data['success'] === true) {
                    setTimeout(function () {
                        location.reload();
                    }, 5);
                }

                if (data['success'] === false) {
                    $('#message-for-project').text(data['status']);
                    return false
                }

            },
            error: function (error) {
                console.log(error)
            }
            ,
        })
    }

    $(function () {
        $("#button_create_note_click").on("click", function (e) {
            e.preventDefault();
            $("#click_create_note_modal").dialog({
                    modal: true,
                    height: "auto",
                    width: "30vw",
                    title: "{% trans 'New note creation' %}",
                    buttons: {
                        "{% trans 'Create note' %}": createNote, //Be careful here!
                        "{% trans 'Cancel' %}": function () {
                            $(this).dialog("close");
                        }
                    }
                }
            )
        });
    });

    function createNote() {
        $.ajax({
            type: 'POST',
            url: "{% url 'new_note_form' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                note_title: $('#id_note_title').val(),
                note_text: $('#id_note_text').val(),
                vid_url: $('#id_vid_url').val(),
                project_id: '{{ project.id }}',
            },
            success: function (data) {
                if (data['success'] === true) {
                    setTimeout(function () {
                        location.reload();
                    }, 5);
                }

                if (data['success'] === false) {
                    $('#message-for-note').text(data['status']);
                    return false
                }

            },
            error: function (error) {
                console.log(error)
            }
            ,
        })
    }


    $(function () {
        $("#button_delete_project_click").on("click", function (e) {
            e.preventDefault();
            $("#click_delete_project_modal").dialog({
                    modal: true,
                    height: "auto",
                    width: "30vw",
                    title: "{% trans 'Delete Confirmation' %}",
                    buttons: {
                        "{% trans 'Delete Project' %}": deleteProject, //Be careful here!
                        "{% trans 'Cancel' %}": function () {
                            $(this).dialog("close");
                        }
                    }
                }
            )
        });
    });

    function deleteProject() {
        $.ajax({
            type: 'POST',
            url: "{% url 'delete_project' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                project_slug: '{{ project.slug }}',
            },
            success: function (data) {
                if (data['success'] === true) {
                    setTimeout(function () {
                        location.replace({% url 'projects' %});
                    }, 5);
                }

                if (data['success'] === false) {
                    $('#message-for-note').text(data['status']);
                    return false
                }

            },
            error: function (error) {
                console.log(error)
            }
            ,
        })
    }


    $(function () {
        $("#button_delete_note_click").on("click", function (e) {
            e.preventDefault();
            $("#click_delete_note_modal").dialog({
                    modal: true,
                    height: "auto",
                    width: "30vw",
                    title: "{% trans 'Delete Confirmation' %}",
                    buttons: {
                        "{% trans 'Delete Note' %}": deleteNote, //Be careful here!
                        "{% trans 'Cancel' %}": function () {
                            $(this).dialog("close");
                        }
                    }
                }
            )
        });
    });

    function deleteNote() {
        $.ajax({
            type: 'POST',
            url: "{% url 'delete_note' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                note_slug: '{{ current_note.slug }}',
            },
            success: function (data) {
                if (data['success'] === true) {
                    if ('{{ project.title }}' == null) {
                        location.replace({% url 'projects' %});
                    } else {
                        location.replace('{% url 'project_detail' %}?project_title={{ project.title }}&current_note_title={{ note.title }}');
                    }

                }

                if (data['success'] === false) {
                    $('#message-for-note').text(data['status']);
                    return false
                }

            },
            error: function (error) {
                console.log(error)
            }
            ,
        })
    }


    $(function () {
        $("#button_edit_project_click").on("click", function (e) {
            e.preventDefault();
            $("#click_edit_project_modal").dialog({
                    modal: true,
                    height: "auto",
                    width: "30vw",
                    title: "{% trans 'Delete Confirmation' %}",
                    buttons: {
                        "{% trans 'Confirm Change' %}": editProject, //Be careful here!
                        "{% trans 'Cancel' %}": function () {
                            $(this).dialog("close");
                        }
                    }
                }
            )
        });
    });

    function editProject() {
        $.ajax({
            type: 'POST',
            url: "{% url 'edit_project' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                project_slug: '{{ project.slug }}',
                new_project_title: $('#id_new_project_title').val(),
            },
            success: function (data) {
                if (data['success'] === true) {
                    location.replace({% url 'projects' %});
                }

                if (data['success'] === false) {
                    $('#message-for-edit-prj').text(data['status']);
                    return false
                }

            },
            error: function (error) {
                console.log(error)
            }
            ,
        })
    }

</script>