{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Self Help Project' %} {% endblock %}

{% block content %}
    <div class="body-container-row">
        <div class="projects-list">
            <ul class="no-style">
                {% for project in projects %}
                    <li>
                        <a href="{% url 'project_detail' %}?project_title={{ project.title }}&current_note_title=None"
                           class="custom-button button-to-project">{{ project.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <button id="button_create_project_click"
                    class="custom-button button-new-project">{% trans 'Create New Project' %}!
            </button>

        </div>
        <div class="projects-something-else">
            <a href="{% url 'home' %}" class="custom-button button-go-home">{% trans 'Return to home page' %}</a>
        </div>
    </div>
{% endblock %}

{% block down %}{% endblock %}