{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Sign in Page' %} {% endblock %}

{% block content %}
    <div class="body-container-column">
        <form action="{% url 'sign_in' %}" method="POST">
            {% csrf_token %}
            {% trans 'Username' %}:<input type="text" name="username" required>
            {% trans 'Password' %}:<input type="password" id="password" name="password" required>
            <input type="submit" value="{% trans 'Sign in' %}">
        </form>
        <p>{% if error_message is not None and short_error_message is not None %}{{ error_message }}{% endif %}</p>
    </div>
{% endblock %}