{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Self help project' %} {% endblock %}

{% block content %}
    <h1>{{ username }}. {% trans 'Welcome to the Self help project!' %}</h1>
    <h3>{% trans 'It will help you with self development' %}</h3>
    <p>{% trans 'Since you are registered, you now have full access to the project`s capabilities.' %}
        {% trans 'Try to create your first self-development project' %}</p>
    <a href="#" class="button button-to-project"> {% trans 'To Projects' %}</a>
    <a href="{% url 'sign_out' %}" class="button button-sign-out">{% trans 'Sign out' %}</a>
    {% endblock %}

{% block down %}{% endblock %}